{% extends '@Core/Default/index.html.twig' %}
{% block title %}
    Page de contact
{% endblock %}
{% block description %}
    Bienvenue sur la page contact.
{% endblock %}

{% block body %}
    <div class="text-center">

        <h1 class="my-5">Formulaire de contact</h1>
        <div class="col-md-6 mx-auto row justify-content-md-center py-2" id="contactForm">
            {{ form_start(contactForm) }}

            <div class="row">
                <div class="form-group mx-auto">
                    <div class="col">
                        {{ form_label(contactForm.secondName) }}
                        <small class="form-text text-muted">{{ form_errors(contactForm.secondName) }}</small>
                        {{ form_widget(contactForm.secondName) }}
                    </div>
                </div>

                <div class="form-group mx-auto">
                    <div class="col">
                        {{ form_label(contactForm.firstName) }}
                        <small class="form-text text-muted">{{ form_errors(contactForm.firstName) }}</small>
                        {{ form_widget(contactForm.firstName) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mx-auto">
                    <div class="col">
                        {{ form_label(contactForm.email) }}
                        <small class="form-text text-muted">{{ form_errors(contactForm.email) }}</small>
                        {{ form_widget(contactForm.email) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mx-auto">
                    <div class="col">
                        {{ form_label(contactForm.question) }}
                        <small class="form-text text-muted">{{ form_errors(contactForm.question) }}</small>
                        {{ form_widget(contactForm.question) }}
                    </div>
                </div>
            </div>

            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}