<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Page admin">
    <meta name="robots" content="noindex, nofollow">
    <title>ACSEO - Admin Page</title>
    <!-- Bootstrap core CSS-->
    <link href="{{ asset('bundles/admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset('bundles/admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{ asset('bundles/admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset('bundles/admin/css/sb-admin.css') }}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html.twig">ACSEO - Admin Page</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">
                            {% set count = 0 %}
                            {% for message in messages %}
                                {% if message.ready != 1 %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if count <= 1 %}
                                <span id="count">{{ count }}</span> Nouveau message!
                            {% else %}
                                <span id="count">{{ count }}</span> Nouveaux messages!
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example DataTables Card-->


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Heure d'envoi</th>
                <th scope="col">Question</th>
                <th scope="col">Traité</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>
                        {{ message.secondName }}
                    </td>
                    <td>
                        {{ message.email }}
                    </td>
                    <td>
                        {{ message.createdAt | date('d-m-Y H:m') }}
                    </td>
                    <td>
                        {{ message.question }}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input ready" id="{{ message.id }}"
                                    {% if message.ready == 1 %}
                                        checked
                                    {% endif %}
                                   value="{{ message.ready }}"
                            >
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session
                    en cours.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-primary" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('bundles/admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('bundles/admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('bundles/admin/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/admin/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset('bundles/admin/js/sb-admin.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ asset('bundles/admin/js/sb-admin-datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/sb-admin-charts.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/script.js') }}"></script>
</div>
</body>

</html>
